.fontchange{
    font-family: Nunito, Arial, Impact !important;
    font-weight: bold !important;
}
.whiterfont{
    color:rgb(181, 181, 181) !important;
    font-size: 20px !important;
}
.bluecolor{
    color:#1cabc4 !important;
}